<app-header></app-header>
<div style="width: 100%; margin-top: 100px; display: flex; justify-content: center; margin-bottom: 20px;">
    <button mat-raised-button (click)="openDialog()" style="background-color: var(--blue);">Criar anúncio</button>
</div>
<div class="container" style="padding-top: 0;">
    <mat-tab-group class="tab-group" mat-align-tabs="center">
        <mat-tab class="tab-item" label="Meus anúncios">
            <ul>
                <li *ngFor="let userBook of userBooks">
                    <mat-card  fxFlexAlign="stretch" class="card">
                        <mat-card-header class="card-header">
                            <mat-card-title class="card-title">{{userBook.title}}</mat-card-title>
                        </mat-card-header>
                        <div style="width: 100%; height: 320px; display: flex; justify-content: center; margin-top: 20px;">
                            <img *ngIf="userBook.imageUrl" mat-card-image src="{{userBook.imageUrl}}" style="width: 100%; height: 100%;" alt="Foto do livro">
                            <img *ngIf="!userBook.imageUrl" mat-card-image src="https://www.otis.edu/sites/default/files/books-readers-icon-small-16_0.png" style="width: 100%; height: 100%;" >
                        </div>
                        <mat-card-content>
                            <div>Autor: {{userBook.author}}</div>
                            <div class="card-price">R$ {{userBook.price}},00</div>
                        </mat-card-content>
                    </mat-card>
                </li>
            </ul>
            <div *ngIf="!userBooks.length" style="width: 100%; display: flex; justify-content: center;">Sem anúncios</div>
        </mat-tab>
        <mat-tab label="Minhas Compras">
            <ul>
                <li *ngFor="let purchedBook of purchedBooks">
                    <mat-card  fxFlexAlign="stretch" class="card">
                        <mat-card-header class="card-header">
                            <mat-card-title class="card-title">{{purchedBook.title}}</mat-card-title>
                        </mat-card-header>
                        <div style="width: 100%; height: 320px; display: flex; justify-content: center; margin-top: 20px;">
                            <img *ngIf="purchedBook.imageUrl" mat-card-image src="{{purchedBook.imageUrl}}" style="width: 100%; height: 100%;" alt="Foto do livro">
                            <img *ngIf="!purchedBook.imageUrl" mat-card-image src="https://www.otis.edu/sites/default/files/books-readers-icon-small-16_0.png" style="width: 100%; height: 100%;" >
                        </div>
                        <mat-card-content>
                            <div>Autor: {{purchedBook.author}}</div>
                            <div class="card-price">R$ {{purchedBook.price}},00</div>
                            <div>Data: {{purchedBook.createdAt | date: 'dd/MMM/yyyy'}}</div>
                        </mat-card-content>
                    </mat-card>
                </li>
            </ul>
            <div *ngIf="!purchedBooks.length" style="width: 100%; display: flex; justify-content: center;">Sem Compras</div>
        </mat-tab>
    </mat-tab-group>
</div>