<app-header></app-header>
<div *ngIf="book" class="book-detail-container">
    <div style="width: 50%; height: 500px; margin-top: 18px;">
        <img *ngIf="book.imageUrl" mat-card-image src="{{book.imageUrl}}" style="width: 100%; height: 100%;" alt="Foto do livro">
        <img *ngIf="!book.imageUrl" mat-card-image src="https://www.otis.edu/sites/default/files/books-readers-icon-small-16_0.png" style="width: 100%; height: 100%;" >
    </div>
    <mat-card  fxFlexAlign="stretch" class="book-info">
        <h1 class="book-title">{{book.title}}</h1>
        <h3 class="book-author">{{book.author}}</h3>
        <p class="book-description">
            {{book.description}}
        </p>
        <span class="book-price">R$ {{book.price}},00</span>
        <span class="book-date">{{book.createdAt | date: 'dd/MMM/yyyy'}}</span>
        <mat-card-actions class="book-add-button" (click)="addBookToCart(book)">
            <button *ngIf="isAuthenticated" mat-raised-button>Adicionar ao carrinho</button>
        </mat-card-actions>
    </mat-card>
</div>