<form [formGroup]="createForm" style="background-color: var(--blue); padding: 20px; width: 400px;" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Escolher imagem do livro</label>
        <input type="file" (change)="onFileChanged($event)" />
    </div>
    
    <div class="form-group">
        <input class="input" type="text" formControlName="title" placeholder="Título" [ngClass]="{ 'is-invalid': submitted && f!.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f!.title.errors!.required">Título é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <input class="input" type="text" formControlName="author" placeholder="Autor" [ngClass]="{ 'is-invalid': submitted && f!.author.errors }" />
        <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
            <div *ngIf="f!.author.errors!.required">Autor é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <input class="input" type="text" formControlName="price" placeholder="Preço" [ngClass]="{ 'is-invalid': submitted && f!.price.errors }" />
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f!.price.errors!.required">Preço deve ser um valor positivo</div>
        </div>
    </div>
    <div class="form-group">
        <textarea formControlName="description" placeholder="Descrição" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group" style="margin-top: 28px;">
        <button [disabled]="loading" mat-raised-button class="button-login">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Criar anúncio
        </button>
            <!-- <p style="color: white class="btn btn-link">Cancelar</a> -->
    </div>
</form>