.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
  height: 400px;
  background: var(--blue);
}

.logo {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input {
  background-color: var(--blue);
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  color: white;
}

.button-login {
  background-color: darkorange;
  color: var(--blue);
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}